<!-- <section
  class="flex flex-col bg-neutral-50 rounded-md gap-3 min-w-md md:max-w-[45vw] w-full"
  id="correction-section"
> -->
 <img
  id="spinner"
  class="htmx-indicator m-auto"
  src="../static/images/spinner.gif"
/> 
{% if listOfErrors|length == 0 %}
<!-- <h2 class="px-2 py-3"><strong> No errors were found:</strong> </h2> -->
<p class="px-2 py-3 h-[50vh] overflow-y-auto" id="correction">
  {{correctedOutput|safe}}
</p>
{% endif %}
{% if listOfErrors|length > 0 %}
  <p class="px-2 py-3 h-[50vh] overflow-y-auto" id="correction">
    {{correctedOutput|safe}}
  </p>
  <ul
    class="bg-blue-100 text-black-100 h-[20vh] overflow-y-auto p-1 px-2 mt-5 rounded-lg"
  >
    {% for error in listOfErrors %}
    <li class="flex flex-col gap-2 min-h-[10vh]">
      <h2 class="font-semibold my-2">[{{loop.index}}] {{error[0]}}</h2>
      <p>{{error[1]}}</p>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
<!-- 
</section> -->
