<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <title>NLP and Radiology Tool</title>
  </head>
  <body class="bg-red-50 p-10">
    <div class="flex flex-row bg-blue-50 place-items-center h-auto w-auto">
      <main class="flex bg-yellow-200 w-1/2 place-items-center h-1/2">
        Box One
      </main>
      <span class="bg-red-100 h-[75vh] w-[2px]"></span>
      <section class="flex bg-green-200 w-1/2 place-items-center h-1/2">
        Box Two
      </section>
    </div>
  </body>
</html>
